    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h1 class="h3 pt-3 pb-2 border-bottom">Edit : Learning Chat Room</h1>
      <%= render partial: "form", locals: {url: learning_path(@learning.id), method: :patch} %>

    </main>